*.ps1
.venv
.venv2
*.spec
build
*.pyc
.vscode/settings.json
dist
ubuntu2/moondream-server-linux-cuda12-4-v1-0-1
v2/output/
ubuntu2/moondream-server
v2/.DS_Store
moondream-server-ubuntu-v1-0-1
.DS_Store
py_versions/
__pycache__
hidden/
output/
demo_vid/
backends/mlx_backend/backend.py
upload_pypi.sh
backends/mlx_backend/upload_int4_weights.py
moondream_station.egg-info/dependency_links.txt
moondream_station.egg-info/entry_points.txt
moondream_station.egg-info/PKG-INFO
moondream_station.egg-info/requires.txt
moondream_station.egg-info/SOURCES.txt
moondream_station.egg-info/top_level.txt
